.popup{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    width: 100%;
    max-width: 500px;
    background-color: aliceblue;
    border-radius: 2rem;
    padding: 2.6rem 4rem 4rem 4rem;
    
}
.popup_ligado{
    display: grid;
}
.popup_desligado{
    display: none;
}
.main_ligado{
    display: grid;
}
.main_desligado{
    display: none;
}
@media screen and (max-width: 900px){
    .popup{
        width: 100vh;
        max-width: 100vh;
        height: 100vh;
        border-radius: 0rem;
        row-gap: 2rem;
        align-content: center;
    }
    .btn_popup{
        margin-top: 12rem;
        align-self: end;
    }
}