/* Resetando as margens, paddings e caixas de todos os elementos */
@import url(./popup.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Definindo as propriedades para o HTML e o corpo da página */
html,
body {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

/* Estilizando o corpo da página */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(234, 29%, 20%);
}

main {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  max-width: 930px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem;
  margin: 2rem;
  padding: 1.5rem;
  column-gap: 1rem;
}

.conteiner_formulario {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  row-gap: 1.4rem;
  padding: 1rem 0rem 1rem 2.3rem;
}

.texto_principal {
  font-size: 3.5rem;
  font-weight: 700;
  color: hsl(234, 29%, 20%);
}

.lista_beficios {
  display: flex;
}

.conteiner_formulario ul {
  list-style: none;
}

.conteiner_formulario li {
  margin-bottom: 0.8rem;
  display: flex;
  align-items: center;
}

.conteiner_formulario li img {
  margin-right: 0.9rem;
}

.formulario_envio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.formulario_envio_textos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.formulario_envio label {
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.texto_critica {
  color: hsl(4, 100%, 67%);
}
.texto_critica_desligado {
  display: none;
}

.formulario_envio_confirmacao input {
  width: 100%;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(234, 29%, 20%);
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}
.email_invalido {
  color: hsl(4, 100%, 67%);
  background-color: #ffe8e6;
  border-color: hsl(4, 100%, 67%);
}

.btn_confirmacao {
  width: 100%;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: hsl(235, 18%, 26%);
  color: hsl(0, 0%, 100%);
  font-size: 0.94rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.btn_confirmacao:hover {
  background: linear-gradient(90deg, hsl(347, 100%, 66%), hsl(13, 100%, 62%));
  box-shadow: hsl(4, 100%, 67%) 0px 6px 20px;
}

.container_imagem_desktop img {
  display: block;
  object-fit: contain;
  width: 100%;
}

.container_imagem_desktop {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container_imagem_mobile {
  display: none;
}

@media screen and (max-width: 900px) {
  body {
    background-color: hsl(0, 0%, 100%);
  }
  main {
    flex-direction: column;
    border-radius: 0rem;
    margin: 0rem 1rem 1rem 1rem;
    padding: 0;
    grid-template-columns: 1fr;
    width: 100vh;
    max-width: 100vh;
  }
  .conteiner_formulario {
    padding: 1rem;
    margin: 0;
  }

  .container_imagem_mobile {
    display: flex;
  }

  .container_imagem_mobile img {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .container_imagem_desktop {
    display: none;
  }
}
